## RPC / explorer access
NEXT_PUBLIC_STORY_RPC_URL=""

## Third-party services
NEXT_PUBLIC_SUBGRAPH_URL="https://api.goldsky.com/api/public/project_cmhxop6ixrx0301qpd4oi5bb4/subgraphs/Sovry-Aeneid/1.0.1/gn"
NEXT_PUBLIC_STORYSCAN_API_KEY="4a6334ff-2c5a-434e-895b-8d6667e1dd6b"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_PINATA_JWT=""
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=""
NEXT_PUBLIC_ENABLE_DEBRIDGE_WIDGET="true"

## Sovry Launchpad
NEXT_PUBLIC_LAUNCHPAD_ADDRESS="0x101fff014606aADb390289583b741F72DD097041"