## RPC / explorer access
NEXT_PUBLIC_TENDERLY_RPC_URL=""
NEXT_PUBLIC_STORY_RPC_URL="https://mainnet.storyrpc.io"
NEXT_PUBLIC_STORY_API_KEY=""

## Third-party services
NEXT_PUBLIC_API_URL="http://localhost:3001"
GRAPH_WEBHOOK_SECRET=""

NEXT_PUBLIC_SUBGRAPH_URL="https://api.goldsky.com/api/public/project_<project_id>/subgraphs/sovry-mainnet/1.0.0/gn"
NEXT_PUBLIC_STORYSCAN_API_KEY=""
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

NEXT_PUBLIC_PINATA_JWT=""
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=""
NEXT_PUBLIC_ENABLE_DEBRIDGE_WIDGET="true"

## Sovry Factory
NEXT_PUBLIC_LAUNCHPAD_ADDRESS="0x501047D4D5E323DB64855c14557aC1D3B7393298"
NEXT_PUBLIC_EXCHANGE_ADDRESS="0x3cEa3Ae4E7e77afD7507F2893D1d4a46547cA476"
NEXT_PUBLIC_ROUTER_ADDRESS="0xfCDBa29166Bc61f23F63977655141C7e99804302"
NEXT_PUBLIC_BASE_PRICE_WEI="100000000000"
NEXT_PUBLIC_PRICE_INCREMENT_WEI="2000000"
NEXT_PUBLIC_DEMO_ROYALTY_AMOUNT_WEI="1000000000000000000" # 1 IP

NEXT_PUBLIC_STORYSCAN_BASE_URL="https://www.storyscan.io"
NEXT_PUBLIC_STORY_ROYALTY_MODULE_ADDRESS="0xD2f60c40fEbccf6311f8B47c4f2Ec6b040400086"
NEXT_PUBLIC_STORY_SDK_CHAIN_ID="mainnet"