## Deployment keys (never commit real secrets)
PRIVATE_KEY=""
OWNER_ADDRESS="0x8c317fb91a73e2c8d4883dded3981982f046f733"

## RPC / explorer access
NEXT_PUBLIC_AENEID_RPC_URL="https://aeneid.storyrpc.io"
TENDERLY_USERNAME="eLeng"
TENDERLY_PROJECT="project"
TENDERLY_ACCESS_KEY=""

## Third-party services
GOLDSKY_API_KEY=""
GOLDSKY_ENDPOINT="https://api.goldsky.com/api/public/project_cmhxop6ixrx0301qpd4oi5bb4/subgraphs/Sovry-Aeneid/dev/gn"
STORYSCAN_API_KEY=""

## Backend Configuration
PORT=3001

## Frontend Configuration
FRONTEND_URL="http://localhost:3000"
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID=""
NEXT_PUBLIC_API_URL="http://localhost:3001"

## Environment
NODE_ENV="development"

## Sovry Launchpad
NEXT_PUBLIC_LAUNCHPAD_ADDRESS="0x101fff014606aADb390289583b741F72DD097041"